.concerts-container{
    display: flex;
    flex-direction: column;
}

.concert-header{
    background-color: black;
    margin-top: 64px;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.concert-header > h1{
    color: white;
    font-size: 60px;
}

.concert-header > button {
    color: white;
    background: var(--primary-color);
    padding: 4px 16px;
    border-radius: 5px;
}

.table table{
    margin: 0 auto;
    margin-top: 30px;
}
tr:nth-child(even) {
    background-color: #bdece2;
}