@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

.my-modal-container {
    display: flex;
    flex-direction: column;
    padding: 16px 38px;
}

.my-modal-card {
    width: 100%;
    min-height: 248px;
    border-radius: 16px;
    background: #ba8b02;
    background: -webkit-linear-gradient(to right, #755800, #ba8b02);
    background: linear-gradient(to right, #886600, #ffbf01);
    font-family: 'Share Tech Mono';
    position: relative;
    box-shadow: 1px 2px 12px -2px black;
}

.my-modal-map {
    background-image: url(../../assets/images/map.png);
    background-size: cover;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.my-modal-card-content {
    padding: 20px 32px;
    height: 100%;
}

.my-modal-card-content>span:first-child {
    font-size: 28px;
    color: white;
}

.my-modal-card-content .chip {
    background-image: url(../../assets/images/pixlr-bg-result.png);
    background-size: cover;
    margin-top: 2px;
    width: 70px;
    height: 60px;
    border-radius: 6px;
    margin-left: -8px;
}

.my-modal-card-number {
    display: flex;
}

.my-modal-card-number > span {
    flex: 0 25%;
    color: white;
    font-size: 26px;
    text-shadow: 2px 2px 2px #000000;
}

.my-modal-card-name {
    margin-top: 4px;
}

.my-modal-card-name>span {
    color: white;
    font-size: 20px;
}

.my-modal-card-footer {
    display: flex;
    position: relative;
    margin-top: 8px;
}

.my-modal-card-footer>span:first-child {
    color: white;
    font-size: 20px;
    text-shadow: 2px 2px 2px #000000;
}

.my-modal-card-footer>span:nth-child(2) {
    color: white;
    font-size: 20px;
    text-shadow: 2px 2px 2px #000000;
    position: absolute;
    left: 138px;
}

.my-modal-card-footer-logo {
    background-image: url(../../assets/images/visa.png);
    background-size: cover;
    height: 64px;
    width: 84px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.my-modal-inputs {
    display: flex;
    flex-direction: column;
}

.my-modal-inputs input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.my-modal-inputs-two {
    display: flex;
}

.my-modal-inputs-left {
    flex: 0 50%;
    display: flex;
    flex-direction: column;
}

.my-modal-inputs-right {
    flex: 0 50%;
    display: flex;
    flex-direction: column;
}

.my-modal-inputs label {
    text-transform: uppercase;
    margin-bottom: 0px;
    margin-top: 8px;
}

.my-modal-inputs input {
    padding: 6px 6px;
    border: 1px solid gray;
    width: 100%;
}

.my-modal-buttons {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
}

.my-modal-buttons>button:first-child {
    background: mediumseagreen;
    color: white;
    padding: 5px 0px;
    font-size: 18px;
}

.my-modal-buttons>button:last-child {
    background: red;
    color: white;
    padding: 5px 0px;
    margin-top: 12px;
    font-size: 18px;
}

.my-modal-inputs .error {
    border: 1px solid red
}

@media screen and (max-width: 768px) { 
    .my-modal-container {
        padding: 2px;
    } 
    .my-modal-inputs label {
        font-size: 15px;
    }

    .my-modal-card-footer>span:nth-child(2) {
        left: 68px;
    }

    .my-modal-card-footer-logo {
        height: 50px;
        width: 60px;
    }

    .my-modal-card-content .chip {
        width: 59px;
        height: 48px;
    }

    .my-modal-card {
        min-height: 210px;
    }

    .my-modal-card-content {
        padding: 6px 14px;
    }
}