.buy-form>h1 {
    text-align: center;
    padding: 8px;
    margin: 0;
}

.buy-form>hr {
    background-color: var(--primary-color);
    height: 1px;
    border: 0;
    width: 100%;
}

.buy-form-body {
    width: 60%;
    margin: 0 auto;
    padding-bottom: 16px;
}

.buy-form-body-inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
} 

.buy-form-body-inputs > span {
    color: gray;
}

.buy-form-body-total {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.buy-form-body-total > span{
    padding-right: 16px;
    color:black;
}

.buy-form-footer {
    display: flex;
    justify-content: flex-end;
    height: 48px;
}

.buy-form-footer> :first-child {
    background: black;
    color: white;
    border-radius: 4px;
    width: 110px;
    height: 38px;
    margin-right: 8px;
}

.buy-form-footer> :nth-child(2) {
    background-color: var(--primary-color);
    color: white;
    border-radius: 4px;
    width: 110px;
    height: 38px;
    margin-right: 8px;
}

.buy-form-body .total {
    margin-left: 352px;
}