/* .buy-form>h1 {
    text-align: center;
    padding: 8px;
    margin: 0;
}

.buy-form>hr {
    background-color: var(--primary-color);
    height: 1px;
    border: 0;
    width: 100%;
}

.buy-form-body {
    width: 60%;
    margin: 0 auto;
    padding-bottom: 16px;
}

.buy-form-body-inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
} 

.buy-form-body-inputs > span {
    color: gray;
}

.buy-form-body-inputs .error {
    border: 2px solid red;
}

.buy-form-body-total {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.buy-form-body-total > span{
    padding-right: 16px;
}

.buy-form-footer {
    display: flex;
    justify-content: flex-end;
    height: 48px;
}

.buy-form-footer> :first-child {
    background: black;
    color: white;
    border-radius: 4px;
    width: 110px;
    height: 38px;
    margin-right: 8px;
}

.buy-form-footer> :nth-child(2) {
    background-color: var(--primary-color);
    color: white;
    border-radius: 4px;
    width: 110px;
    height: 38px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buy-form-body .total {
    margin-left: 352px;
} */

.my-modal-container {
    display: flex;
    flex-direction: column;
    padding: 16px 38px;
}

.my-modal-card {
    width: 100%;
    min-height: 248px;
    border-radius: 16px;
    background: #00b4db; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #00b4db, #0083b0); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #00b4db, #0083b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.my-modal-card-content {
    padding: 20px 32px;
    height: 100%;
}

.my-modal-card-content > span:first-child {
    font-size: 28px;
    color: white;
}

.my-modal-card-content .chip {
    background: rgb(143, 143, 143);
    margin-top: 20px;
    width: 54px;
    height: 44px;
    border-radius: 6px;
    padding: 8px 0px;
}

.my-modal-card-content .chip2 {
    background: rgb(179, 179, 179);
    width: 34px;
    height: 26px;
    border-radius: 0px 4px 4px 0px;
}

.my-modal-card-number {
    display: flex;
}

.my-modal-card-number > span{
    flex: 0 25%;
    color: white;
    font-size: 24px;
    text-shadow: 2px 2px 2px #000000;
}

.my-modal-card-name {
    margin-top: 4px;
}

.my-modal-card-name > span {
    color: white;
    font-size: 20px;
}

.my-modal-card-footer {
    display: flex;
    position: relative;
    margin-top: 8px;
}

.my-modal-card-footer > span:first-child {
    color: white;
    font-size: 18px;
    text-shadow: 2px 2px 2px #000000;
}

.my-modal-card-footer > span:nth-child(2) {
    color: white;
    font-size: 18px;
    text-shadow: 2px 2px 2px #000000;
    position: absolute;
    left: 138px;
}

.my-modal-card-footer-logo {
    background-image: url(../../assets/images/visa.png);
    background-size: cover;
    height: 64px;
    width: 84px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.my-modal-inputs {
    display: flex;
    flex-direction: column;
}

.my-modal-inputs input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.my-modal-inputs-two {
    display: flex;
}

.my-modal-inputs-left {
    flex: 0 50%;
    display: flex;
    flex-direction: column;
}

.my-modal-inputs-right {
    flex: 0 50%;
    display: flex;
    flex-direction: column;
}

.my-modal-inputs label{
    text-transform: uppercase;
    margin-bottom: 0px;
    margin-top: 8px;
}

.my-modal-inputs input {
    padding: 6px 6px;
    border: 1px solid gray;
}

.my-modal-buttons {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
}

.my-modal-buttons > button:first-child {
    background: mediumseagreen;
    color: white;
    padding: 5px 0px;
    font-size: 18px;
}

.my-modal-buttons > button:last-child {
    background:red;
    color: white;
    padding: 5px 0px;
    margin-top: 12px;
    font-size: 18px;
}

.my-modal-inputs .error {
    border: 1px solid red
}