html {
    scroll-behavior: smooth;
  }

.event-container {
    margin-top: 64px;
}

.event-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 400px;
    background: var(--primary-color);  
    background: -webkit-linear-gradient(to top, #166b57, var(--primary-color)); 
    background: linear-gradient(to top, #166b57, var(--primary-color)); 
    box-shadow: 0 6px 20px grey;
}

.event-header .event-header-left {
    display: flex;
    justify-content: center;
    flex: 0 50%;
}

.event-header .event-header-left-info {
    display: flex;
    flex-direction: column;
}

.event-header .event-header-left-info  h1 {
    color: white;
}

.event-header .event-header-left-info span{
    color: white;
}

.event-header .event-header-left-info > a {
    margin-top: 18px;
    color: white;
    background-color: black;
    padding: 6px 26px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    width: 180px;
}

.event-header .event-header-right {
    display: flex;
    justify-content: center;
    flex: 0 50%;
}

.event-header .event-header-right > img {
   width: 460px;
   border-radius: 6px;
}

.event-body-info {
    max-width: 60vw;
    margin: auto;
    margin-top: 32px;
}

.event-body-info p {
    color: gray;
}

.event-body-info .line {
    height: 6px;
    opacity: 0.5;
    background-color: black;
    width: 100%;
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .event-header .event-header-right > img {
        width: 300px;
    }
    .event-body-info {
        max-width: 85vw;
        text-align: center;
    }
}
