body{
    margin: 0 auto;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-container h3 {
    padding: 20px;
}

.home-header{
    background-image: url("../../assets/images/angad-singh-9POz8PXGWjM-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 70vh;
    margin-top: 64px;
    box-shadow: 0 6px 20px grey;
    display: flex;
    align-items: flex-end;
}

.tag-entradas {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 40px;
    width: 36vw;
}

.tag-entradas > h2, p {
    color: white;
}

.tag-entradas > button {
    background-color: var(--primary-color);
    width: 85px;
    padding: 6px 8px;
    border-radius: 4px;
    transition: all 0.4s;
}

.tag-entradas > button:hover {
    background: var(--secondary-color);
}

.tag-entradas button a {
    text-decoration: none;
    color: white;
}

.home-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 32px;
}

.home-about-us {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.home-about-us-img-wrapper, .home-about-us-text {
    flex: 0 50%;
    min-width: 300px;
}

.home-about-us-img {
    background-image: url(../../assets/images/jeshoots-com--2vD8lIhdnw-unsplash.jpg);
    background-size: cover;
    height: 100%;
    min-height: 300px;
}

.home-about-us-text {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-about-us-text > p {
    color: grey;
    max-width: 70ch;
}

.home-about-us-text > a {
    color: white;
    background-color: var(--primary-color);
    padding: 8px;
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.4s;
}

.home-about-us-text > a:hover {
    background-color: var(--secondary-color);
}