body{
    margin: 0 auto;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-container h3 {
    padding: 20px;
}

.home-header{
    background-image: url("../../assets/images/acdc.jpg");
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 500px;
    margin-top: 64px;
    box-shadow: 0 6px 20px grey;
    display: flex;
    align-items: flex-end;
    transform: translateX(-1600px);
    position: relative;
    animation: 1.2s slideIns ease-in-out forwards 0.5s;
}

@keyframes slideIns {
    100% {
      transform: translateX(0px);
      opacity: 1;
    }
  }

.home-header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.3);
    height: 100%;
    width: 100%;
}

.tag-entradas {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    z-index: 3;
    transform: translateY(-600px);
    position: relative;
    animation: 1.2s slideIn ease-in-out forwards 1s;
    opacity: 0;
    bottom: 80px;
    left: 100px;
}

.tag-entradas::before {
    content: '';
    z-index: 3;
    position: absolute;
    mix-blend-mode: screen;
}

@keyframes slideIn {
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }

.tag-entradas h2  {
    color: white;
}

.tag-entradas p {
    color: white;
}

.tag-entradas > a {
    background-color: var(--primary-color);
    width: 128px;
    padding: 6px 8px;
    border-radius: 4px;
    transition: all 0.4s;
    color: white;
    text-decoration: none;
    text-align: center;
}

.tag-entradas > a:hover {
    background: var(--secondary-color);
}

.tag-entradas button a {
    text-decoration: none;
    color: white;
}

.home-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 32px;
    width: 100%;
}

.home-about-us {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.home-about-us-img-wrapper, .home-about-us-text {
    flex: 0 50%;
    min-width: 300px;
}

.home-about-us-img {
    background-image: url(../../assets/images/leon-Oalh2MojUuk-unsplash.jpg);
    background-size: cover;
    background-position-y: center;
    height: 100%;
    min-height: 300px;
}

.home-about-us-text {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-about-us-text > p {
    color: grey;
    max-width: 70ch;
}

.home-about-us-text > a {
    color: white;
    background-color: var(--primary-color);
    padding: 6px 18px;
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.4s;
}

.home-about-us-text > a:hover {
    background-color: var(--secondary-color);
}

@media screen and (max-width: 768px) {
    .home-header {
        min-height: 268px;
    }
    .tag-entradas {
        display: none;
    }
}