.card-sale-ticket-container {
    margin-bottom: 32px;
    box-shadow: 0 0 5px grey;
    padding: 10px;
    width: 100%;
}

.card-sale-ticket {
    display: flex;
    max-width: 100%;
}

.card-sale-ticket-date {
    display: flex;
    flex: 0 25%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-sale-ticket-date > h3 {
    color:var(--primary-color);
    margin: auto;
}

.card-sale-ticket-info {
    display: flex;
    flex: 0 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-sale-ticket-price {
    display: flex;
    flex: 0 25%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .card-sale-ticket {
        flex-direction: column;
    }

    .card-sale-ticket-container {
        width: 95%;
    }
}