.backoffice-sale-container {
    margin-top: 64px;
}

.backoffice-sale-header {
    background-color: black;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.backoffice-sale-header > h1 {
    color: white;
    font-size: 60px;
}

.backoffice-sale-body {
    margin-top: 30px;
    width: 100%;
}

.backoffice-sale-body .table {
    width: 60%;
    margin:auto;
}