.edit-user-container {
    margin-top: 32px;
}

.edit-user-container > p{
    color: black;
}

.edit-user-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.edit-user-form > span {
    margin-top: 12px;
    font-size: 13px;
}

.edit-user-form > input {
    border: 1px solid rgb(207, 207, 207);
    border-radius: 4px;
    padding: 6px 6px;
    width: 612px;
}

.edit-user-form .error {
    border: 2px solid red;
}

.edit-user-form > button {
    background-color: var(--primary-color);
    color: white;
    border-radius: 4px;
    margin-top: 16px;
    padding: 4px 18px;
}